.Products {
	display: grid;
	grid-template-columns: 1fr;	
	grid-template-rows: 1fr 1fr;
	align-items: center;
	justify-content: center;	
}

h2 {
	grid-column: span 2;
}

.Products li {
	list-style: none;
	align-items: left;
	justify-content: center;
	
	
}

button {
	margin: 5px;
}
