.App {
	display: flex;
	
    gap: 20px;
}

.Products{
display: grid;
	grid-template-columns: 1fr;
	
}
.Products li {
	list-style: none;
	
	flex-direction: column;
	align-items: left;
	justify-content: center;
}



button {
margin: 5px;
}


